<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gratus.login">
    <application
        android:theme="@style/Theme.Mika.Default">
        <activity android:name="com.gratus.login.presentation.LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>