<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gratus.dialog">
    <application
        android:theme="@style/Theme.Mika.Default">
        <activity android:name="com.gratus.dialog.presentation.DialogActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>